{% extends "base.html" %}  {% block title %}Kontakt{% endblock %}
{% block content %}
<div class="content-area">
    <h1>Kontaktinformationen</h1>

    <section>
        <h2>Persönliche Informationen</h2>
        <p><strong>Name:</strong> T Wiesehahn</p>
        <p><strong>E-Mail:</strong> <a href="mailto: iililliii@outlook.de">IIlIllIII@outlook.de</a></p>
        <p><strong>Telefon:</strong> <a href="tel: 030 2970">030 2970</a></p>
    </section>

    <section>
        <h2>Firmeninformationen</h2>
        <p><strong>Firma:</strong> T-Server</p>
        <p><strong>Adresse:</strong><br>
            Closseumsstraße 753<br>
            00042 Roma<br>
            Italia</p>
        <p><strong>Website:</strong> <a href="http://www.t-server.org">t-server.org</a></p>
    </section>
</div>
{% endblock %}