{% extends "base.html" %}
{% load static %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<div class="content-area">
    <h1>Work in progress...</h1>
    <p>Diese Seite befindet sich derzeit noch im Aufbau. Deshalb ist hier leider kein Content zu finden - aber machen Sie sich keine Sorgen! Unsere besten Techniker arbeiten bereits an dem Problem!</p>
    <img src="{% static 'images/tech_cat.png' %}" alt="hier sollte eigentlich eine süße Katze sein... selbst das hat der Server verkackt!">
        
</div>
{% endblock %}